.inputContainer {
    background-color: transparent;
    width: 400px;
}

.inputParent {
    background-color: #141534;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 400px;
}

.inputFocus {
    border: 1px solid red;
}

.inputLeft {
    flex: 1;
}

.input {
    border: transparent;
    padding: .2rem 0;
    font-size: 1rem;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    font-size: 18px;

    &::placeholder {
        color: #7876B1;
    }
}

.inputRight {

    div {
        background-color: black;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: white;
            font-size: 13px;
        }
    }
}